<form method="POST" action="/landmarks">
  <label for="landmark_name">Name:</label>
  <br>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br>
  <label for="landmark_year_completed">Year Completed:</label>
  <br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>
  <input type="submit" value="Create New Landmark" id="Create New Landmark">
</form>